body {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    font-family: monospace;
}

button {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    background-color: #e1e4df;
    font-size: 48px;
}

button:hover {
    background-color: #d1d4ce;
}

#frame {
    padding: 40px;
    border: 4px solid #505050;
    border-radius: 20px;
    background-color: black;
}

#display {
    box-sizing: border-box;
    height: 125px;
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #c8ddc0;
    border: 4px solid #505050;
    border-radius: 4px;
    font-family: 'VT323', monospace;
    font-size: 96px;
    
}

#buttons {
    display: flex;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
}

#digits button {
    margin: 10px 10px 0 0;
}

#operators {
    display: flex;
    flex-direction: column;
}

#operators button {
    margin: 10px 0 0 10px;
}

/* CSS code for "0" is "\0030" */
#clear, #\0030 { 
    width: 210px;
}